<html>
<style>
h3 {
  padding: 70px 0;
  text-align: center;
  color: black;
  font-family: Arial;
  font-size: 400%;
}
</style>
    <body>
    <h3>
    {% if modulo == 0 %}
        {{num}}<br>is even
    {% else %}
        {{num}}<br>is odd
    {% endif %}
    </h3>
    </body>
</html>