<html>
<style>
h3 {
  padding: 70px 0;
  text-align: center;
  color: black;
  font-family: Arial;
  font-size: 250%;
}
</style>
    <h3>
        {% for x in name %}
                Character {{forloop.counter}}: {{ x }} <br>
        {% endfor %}
    </h3>
</html>